<div class="container">
    <div class="row">
        <div class="col-12 mx-auto mt-3">
            <h4>Course List</h4>
            <p class="text-muted lead">List of courses that are created &amp; managing</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Price</th>
                        <th colspan="2"><a href="{{URL.COURSE_CREATE_FORM}}"
                               class="btn btn-success">Create new course</a></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each courses as |course|}}
                    <tr>
                        <th scope="row">{{course.id}}</th>
                        <td>{{course.title}}</td>
                        <td>{{course.author}}</td>
                        <td>{{course.rating}}</td>
                        <td>${{course.price}}</td>
                        <td><a href="{{@root.URL.COURSE_EDIT_FORM}}/{{course.id}}"
                               class="btn btn-warning">Update</a></td>
                        <td>
                            <form action="{{@root.URL.COURSE_DELETE}}/{{course.id}}"
                                  method="POST">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>